<a href="https://colab.research.google.com/github/suuuch/colab_research/blob/main/read_file_from_google_driver.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 挂载 google driver 文件夹

In [ ]:
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

In [ ]:
cd drive/MyDrive/ServerData

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('ftnn_stock_trade_1m.csv')

In [ ]:
df.head()

,code,time_key,open,close,high,low,volume,turnover,pe_ratio,turnover_rate,last_close,etl_in_dt,change_rate
0,HK.00700,2023-03-29 10:15:00,387.20,387.20,387.40,387.00,74400,2.880710e+07,0,0,387.20,2023-03-29 10:15:27.729006,NaN
1,HK.800700,2023-03-29 10:15:00,4266.64,4266.28,4267.76,4265.11,0,1.566029e+08,0,0,4266.62,2023-03-29 10:15:27.738937,NaN
2,HK.800000,2023-03-29 10:15:00,20234.58,20230.41,20236.37,20228.74,0,4.618981e+08,0,0,20235.08,2023-03-29 10:15:27.746065,NaN
3,HK.00700,2023-03-29 10:17:00,386.60,387.20,387.20,386.20,136800,5.293081e+07,0,0,386.60,2023-03-29 10:17:39.630917,NaN
4,HK.800700,2023-03-29 10:17:00,4260.22,4260.83,4260.89,4258.68,0,1.671857e+08,0,0,4260.69,2023-03-29 10:17:39.638339,NaN